# Python virtual environment
venv/
.venv/
env/

# Python cache
__pycache__/
*.py[cod]

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# Environment variables
.env

# Logs
*.log

# Temporary files
*.tmp

# OS files
.DS_Store
Thumbs.db

# Python build files
build/
dist/
*.egg-info/

# Testing/cache
.pytest_cache/
.coverage

# Large datasets
data/raw/*.csv
data/raw/*.pcap
data/raw/*.pcapng
